.root {
  width: 100%;
  height: 100%;
}

.USDText {
  color: #FFBCE8;
}

body {
    display: flexbox;
    width:100%;
    height: 100%;
    background-color: #0D131A;
    overflow-x: hidden;
    margin: 0px;
  }

  .logo {
    float: left;
  }

  .logo:hover {
    cursor: pointer;
  }


  
  .maincontent {
    display: flexbox;
    background-color:  #0D131A;
    width: 100%;
    height: 600px;
    align-items: center;
    overflow-x: hidden;
    float: right;
  }



  .flex-container {
    display: flexbox;
    flex-direction: ro;
    width: 60%;
    min-width: 300px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: aliceblue;
    height:100%;
    font-size: 25px;
    font-family:  'Segoe UI', Tahoma, Geneva, sans-serif;
  }

.UseBalanceText {
  display: inline-block;
  font-size: 100%;
}

.UserBalanceTextB {
  display: inline-block;
  font-size: 100%;
}

.UserBorrowLimit {
  color: #a6fbb2;
  font-weight: 600;
  font-size: 30px;
  margin-right: 5%;
  text-align: right;
}

.UserBalanceOutput {

  color: #a6fbb2;
  font-weight: 600;
  font-size: 30px;
}

.UserBalanceOutputB {

  color: #a6fbb2;
  font-weight: 600;
  font-size: 30px;
}

.UserMaxBorrowText {
  text-align: right;
  font-size: 100%;
}

.borrowtextleft {
  width: 45%;
  display: inline-block;
  margin-left: 10%;
  margin-right: 0%;
  margin-bottom: 2%;
}

.borrowtextright {
  float: right;
  margin-right: 5%;
  margin-left: 0%;
  margin-bottom: 2%;
  width: 35%;
}

.supplytextleft {
  width: 45%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 0%;
  margin-bottom: 2%;
}

.supplytextright {
  float: right;
  margin-right: 10%;
  margin-left: 0%;
  margin-bottom: 2%;
  width: 35%;
}

  .UserDetails {
    display: inline-flex;
    height: 40%;
    width: 100%;
    margin-top: 2%;
  }

  .MarketDetails {
    display: block;
    margin-top: 3%;
    height: 40%;
    width: 100%;
    font-size: 80%;
  }

  .Markets {
    display: block;
    background-color:#1D2833;
    border-radius: 5px;
    width: 100%;
    height:70%;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
  }

  .MarketsText {
    height: 10%;
    margin-left: 2.5%;
  }

  .supplyshell {
    width: 50%;
    min-width: 380px;
    font-size: 80%;
  }

  .Supplied{
    display: inline-block;
    background-color: #1D2833;
    border-radius: 5px;
    width: 95%;
    height:60%;
    margin-right: 5%;
    margin-left: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

.borrowshell {
float: right;
  width: 50%;
  height: 100%;
  min-width: 380px;
  font-size: 80%;
  
}

.BorrowText{
  margin-left: 5%;
}


  .Borrowed{
    display: flexbox;
    background-color: #1D2833;
    border-radius: 5px;
    float: right;
    width: 95%;
    margin-right: 0%;
    margin-left: 5%;
    height:60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  @media screen and (max-width: 1300px) {
    .maincontent {
      display: flexbox;
      background-color:  #0D131A;
      width: 100%;
      height: 1000px;
      justify-items: center;
      align-items: center;
      overflow-x: hidden;
      float: right;
    }
    .UserDetails {
      flex-wrap: wrap;
      height: 60%;
      min-width: 300px;}

      .supplyshell {
        width: 100%;
        height: 50%;
        min-width: 300px;
        font-size: 80%;
      }
      .Supplied{
        display: inline-block;
        background-color: #1D2833;
        border-radius: 5px;
        width: 100%;
        height:75%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .borrowshell {
        font-size: 80%;
        width: 100%;
        height: 50%;
        min-width: 300px;
      }
      .BorrowText{
        margin-left: 0%;
      }
      .Borrowed{
        display: flexbox;
        background-color: #1D2833;
        border-radius: 5px;
        width: 100%;
        height:75%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
  }

  .borrowtable tr:first-child {
    color: #7a8a99;
    font-size: 90%;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100%;
    height: 2%;
  
  }

  .UserSupplyTable tr:first-child {
    color: #7a8a99;
    font-size: 90%;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100%;
    height: 2%;
  
  }


.MetaMask {
  border-radius: 5px; 
  margin: 15px;float: right; 
  width: 20%; height: 40px; 
  min-width: 100px;
  border: 2px solid #a6fbb2;
  overflow: hidden;
  background-color:#1D2833;
  color: #a6fbb2; 
  font-size: 10px; 
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  }

  .MetaMask:hover {
    cursor: pointer;
    background-color:  #a6fbb2;
    color: #1D2833;
  }

  button {
    border-radius: 5px; 
    width: 100px; 
    height: 30px; 
    background-color:#a6fbb2;
    color: #0D131A;
    font-size: 15px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    }
  
table {
  width: 98%;
 border-collapse: collapse;
  border-radius: 25px;
  color: #f0f8ff;
  text-align: left;
  height: 95%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-top: 0%;
  font-size: 100%;
}

tr div {
  border: none;
}

tr:not(:first-child){
  height: 5%;
  font-weight: 500;
  font-size: 17px;
}

td:first-child {
  width: 20px;
  text-align: right;
}


td:not(:first-child) {
  text-align: center;
  max-width: 100px;
  font-size: 15px;
}

.Supply tr:first-child {
  color: #7a8a99;
  font-size: 90%;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  width: 100%;
  height: 2%;

}
 
tr:not(:first-child):hover {

  color: #a6fbb2;
  cursor: pointer;
}
tr:not(:first-child):hover div{

  color: #a6fbb2;
  border: none;
  border-radius: 25px;
}

.UserSupplyTable tr:not(:first-child):hover {

  color: #a6fbb2;
  cursor: pointer;
}
.UserSupplyTable tr:not(:first-child):hover div{

  color: #a6fbb2;
  border: none;
  border-radius: 25px;
}

.borrowtable tr:not(:first-child):hover {

  color: #a6fbb2;
  cursor: pointer;
}
.borrowtable tr:not(:first-child):hover div{

  color: #a6fbb2;
  border: none;
  border-radius: 25px;
}



  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 100%) {
    .flex-container {
      flex-direction: column;
    }
}

/* Add a black background color to the top navigation */
.topnav {
  display: inline-flexbox;
  background-color: #0D131A;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20%;
  height: 15%;
  width: 60%;
  align-items: center;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}



/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color:#f0f8ff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #0D131A;
  color: #a6fbb2
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #a6fbb2;
  color: #0D131A;
} 

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    color: #a6fbb2;
  }
  .tdmobile {
    display: none;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 500px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    height: min-content;
    color: #a6fbb2;
  }
  .tdmobile {
    display: none;
  }

  .modalclosebutton {
    display: block;
    width: 10%;
    color:#a6fbb2;
    border: 1px solid #a6fbb2;
    background-color: #4a5568;
    cursor: pointer;
    float: right;
  }

  .topnav {
    display: inline-flexbox;
    background-color: #0D131A;
    overflow: hidden;
    height: 15%;
    width: 100%;
    margin-left: 0%;
    align-items: center;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .flex-container {
    display: flexbox; 
    flex-direction: row-reverse;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    min-width: 300px;
    margin-top: 0%;
    height:70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

/*Enter and Exit Market Switches */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b3e5f9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* The Modal (background) */
.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(5px);
  
}

.modalButton Button:hover {
  background-color:#1e2838;
  border: 3px solid #a6fbb2;
  cursor: pointer;
}
/* Modal Content */
.modal-content {
  display: none;
  background-color:#0D131A;
  border-radius: 25px;
  margin: auto;
  border: 5px solid  #a6fbb2;
  width: 350px;
  height: 550px;
  backdrop-filter: blur(10px);
  padding: 10px;
}
.image {
  display: inline-block;
  margin-left: 45%;
  width: 50px;
  height: 50px; 
}

.modalclosebutton {
  display: block;
  width: 10%;
  color:#a6fbb2;
  border: 1px solid #a6fbb2;
  background-color: #4a5568;
  cursor: pointer;
  float: right;
}

.stats-container {
  display: inline-flex;
  margin: 5%;
  width: 90%;
  font-size: 85%;
}

.stats-container div {
  width: 45%;
}

.Stats-Output {
  text-align: right;
  color: rgb(167, 251, 178);
}

.modalnav {
  background-color:#0D131A;
  overflow: hidden;
  width: 100%;
  height: 10%;
}

.modalnav a{
  display: inline-flexbox;
  color:aliceblue;
  float: right;
  text-align: center;
  align-content: center;
  width: 25%;
  text-decoration: none;
  font-size: 80%;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  height: 100%;
}

/* Change the color of links on hover */
.modalnav a:hover {
  background-color: rgb(21, 27, 40);
  color: #a6fbb2
}

/* Add a color to the active/current link */
.modalnav a.active {
  background-color: #a6fbb2;
  color: rgb(21, 27, 40);
} 

.modalbody {
  display: inline-flexbox;
  color:aliceblue;
  background-color: rgb(21, 27, 40);
  width: 100%;
  float: left;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  height: 60%;
}

.WalletBalance a{
  color: aliceblue;
  background-color: rgb(21, 27, 40);
  text-align: left;
  align-items: left;
  float: left;
  width: 100%;
}

.WalletBalance{
  display: flexbox;
  color: aliceblue;
  background-color: rgb(21, 27, 40);
  text-align: left;
  align-items: center;
  align-content: center;
  float: left;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 10%;
}

.input {
  display: flexbox;
 width: 80%;
 background-color: #4a5568;
 margin-left: 5%;
 margin-right: 5%;
 padding-left: 5%;
 padding-right: 5%;
 align-items: center;
 align-content: center;
 margin-top: 10%;
 border-radius: 10px;
 height: 10%;
 min-width: fit-content;
}
.input input {
  display: flexbox;
  background-color: #4a5568;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  border: none;
  text-align: right;
  color: aliceblue;
  align-items: center; 
  padding-top: 1%;
  float: right;
  outline: none;
  box-shadow: none;

  width: 100%;
 }

 input input[type=text]:focus {
  background-color: #4a5568;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 100%;
}

 .modalButton {
  background-color:#0D131A;
  display: flexbox;
  border: none;
  color: #a6fbb2;
  font-size: 100%;
  float: right;
  font-weight: 400;
  align-content: center;
  text-align: center;
  height: 20%;
  width: 100%;
  justify-content: center;
 }


 .modalButton Button{
  background-color:#4a5568;
  border-radius: 10px;
  border: none;
  color: #a6fbb2;
  font-size: 100%;
  align-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  text-align: center;
  font-weight: 600;
  height: 50%;
  width: 80%;
 }
